{% extends "portfolio/base.html" %}
{% block title %}Skills - Kulbhushan Nautiyal{% endblock %}

{% block content %}
<div class="container my-5">
  <h2 class="text-center mb-4">🛠️ Technical Skills</h2>
  <div class="row text-center g-4">
    <!-- Python -->
    <div class="col-6 col-md-3">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" width="60" alt="Python">
      <p class="mt-2">Python</p>
    </div>
    <!-- TensorFlow -->
    <div class="col-6 col-md-3">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tensorflow/tensorflow-original.svg" width="60" alt="TensorFlow">
      <p class="mt-2">TensorFlow</p>
    </div>
    <!-- PyTorch -->
    <div class="col-6 col-md-3">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pytorch/pytorch-original.svg" width="60" alt="PyTorch">
      <p class="mt-2">PyTorch</p>
    </div>
    <!-- Hugging Face -->
    <div class="col-6 col-md-3">
      <img src="https://huggingface.co/front/assets/huggingface_logo.svg" width="60" alt="Hugging Face">
      <p class="mt-2">Hugging Face</p>
    </div>
    <!-- LangChain -->
    <div class="col-6 col-md-3">
      <img src="https://raw.githubusercontent.com/langchain-ai/langchain/master/docs/static/img/favicon.ico" width="60" alt="LangChain">
      <p class="mt-2">LangChain</p>
    </div>
    <!-- FastAPI -->
    <div class="col-6 col-md-3">
      <img src="https://fastapi.tiangolo.com/img/icon-white.svg" width="60" alt="FastAPI">
      <p class="mt-2">FastAPI</p>
    </div>
    <!-- SQL -->
    <div class="col-6 col-md-3">
      <img src="https://cdn-icons-png.flaticon.com/512/4248/4248443.png" width="60" alt="SQL">
      <p class="mt-2">SQL</p>
    </div>
    <!-- Git -->
    <div class="col-6 col-md-3">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" width="60" alt="Git">
      <p class="mt-2">Git</p>
    </div>
  </div>
</div>
{% endblock %}
